[SddmGreeterTheme]
Name=Catppuccin Latte
Sddm catppuccin theme
Type=sddm-theme
Version=1.0
Website=https://github.com/LucasCalcada/catppuccin-sddm-theme
Screenshot=ultimate.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=Catppuccin
Theme-API=2.0
